<script id="gameRulerTemp" type="text/html">
    <div class="window">
        <div class="close"></div>
        <div class="title">
            <img src="{{STATICSRC}}images/game/SH/popups/game_rule.png">
        </div>
        <div class="content">
            <div class="explain">
                创建房间,游戏未进行,不消耗房卡
            </div>
            <div class="ruler">
                <div class="tit fl">模式:</div>
                <div class="text fl"></div>
            </div>
            <div class="ruler">
                <div class="tit fl">底分:</div>
                <div class="text fl"></div>
            </div>
            <div class="ruler">
                <div class="tit fl">规则:</div>
                <div class="text fl"></div>
            </div>
            <div class="ruler">
                <div class="tit fl">局数:</div>
                <div class="text fl"></div>
            </div>
            <div class="ruler">
                <div class="tit fl">倍数:</div>
                <div class="text fl"></div>
            </div>
        </div>
    </div>
</script>
<div class="gameRuler" id="gameRuler">

</div>
<script>
    var data = {
        STATICSRC:STATICSRC,
    };
    var html = template("gameRulerTemp",data);
    document.getElementById('gameRuler').innerHTML = html;
</script>