<script id="scoreBoardTemp" type="text/html">
    <div class="bg"></div>
    <div class="window">
        <div class="list">

        </div>
    </div>
    <div class="btns">
        <div class="btn save fl"></div>
        <div class="btn gohall fr"></div>
    </div>
</script>
<div class="scoreBoard" id="scoreBoard">

</div>
<script>
	var data = {
		STATICSRC:STATICSRC,
	};
	var html = template("scoreBoardTemp",data);
	document.getElementById('scoreBoard').innerHTML = html;
</script>